.exp{
	font-family: serif;
}
#e{
	font-size: x-large;
	margin-left: 75px;
}
#sm,#fs{
	color: darkblue;
	text-align: center;
	display: block;
	font-weight: bold;
}
#sm1{
	color: red;
	text-align: center;
	display: block;
}


button{
	margin-left: 100px;
	align :center;
}
#sm2{
	display: block;
	font-size: x-large;
	font-weight: bold;
	color:black;
	font-family: "Arial", Helvetica;
}
span{
	display: block;
	text-align: center;
}
#c{
	margin-left: 0px;
}
#ff{
	margin:auto;
}
#rm{
	display: block;
	font-size:xx-large;
	color: blue;
}
#w{
	display: block;
	text-align: center;
	font-size: x-large;
	color: red;
}
#gs{
	display: block;
	text-align: center;
	margin:auto;
}